body {
	background: linear-gradient(120deg, #619940, #2a3e97) fixed;
}
#wrap {
	width:100%;
	max-width:1200px;
	margin:auto;

}
#board {
	display:flex;
	flex-wrap: wrap;
}
.card {
	background-size: cover;
	background:#e9dc63;
	width:23%;
	padding-bottom: 20%;
	float:left;
	margin:1%;
	border-radius:3%;
}
.card.one.show, .card.one.found{
	background-image: url(img/one.jpg);
}
.card.two.show, .card.two.found{
	background-image: url(img/two.jpg);
}
.card.three.show, .card.three.found{
	background-image: url(img/three.jpg);
}
.card.four.show, .card.four.found{
	background-image: url(img/four.jpg);
}
.card.five.show, .card.five.found{
	background-image: url(img/five.jpg);
}
.card.six.show, .card.six.found{
	background-image: url(img/six.jpg);
}
